.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--basic-color);
}

.menuItems {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;

  padding-right: 100px;
}

.navigation a:link,
.navigation a:visited {
  text-decoration: none;
  color: var(--light-green);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px 0;

  /* letter-spacing: 2px; */
}

.navigation a:global(.active) {
  color: var(--dark-green);

  border-bottom: 2px solid var(--dark-green);
}

.menuItems.open {
  background-color: var(--lighter-green);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 180px; /* TODO Adjust this value based on your header height */
  left: 0;
  width: 100%;
  padding: 25px;

  margin-top: 25px;
}

.menuItems.open li {
  margin-bottom: 10px;
}

.menuItems.open a {
  color: var(--dark-green);
}

.menuToggle {
  display: none;
  color: var(--dark-green);
}

/* Media query for mobile menu */
@media screen and (max-width: 700px) {
  .menuToggle {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none; /* Hide the main menu items on small screens */
  }

  /* Center logo */
  .navigation a.logo {
    margin: 0 auto;
    padding-left: 48px;
  }
}

.logo {
  padding: 0;
}

.logoImg {
  width: 200px;
}

.active {
  text-decoration: line-through;
}
