.container {
  max-width: 1280px;
  margin: 25px auto 75px;
  background-color: var(--lighter-green);
  text-align: left;
  padding: 50px;
  font-size: 1.7rem;
  color: var(--darker-green);
  border-radius: 10px;
  line-height: 1.8;
}

.container h1 {
  font-size: 4rem;
  margin-bottom: 12px;
  font-weight: 400;
}

.container p {
  padding: 25px 0;
}

/* Goals Section */
.goals {
  list-style: none;
  padding-left: 20px;
}

.goals li {
  padding: 5px 0;
  position: relative;
  transition: color 0.3s ease;
}

.goals li::before {
  content: '▶';
  font-weight: 600;
  padding-right: 5px;
}

.goals li:hover {
  color: var(--hover-color);
}

/* Parts Section */
.parts {
  list-style: none;
  /* border-top: 1px solid var(--darker-green); */
}

.parts h2 {
  font-weight: 400;
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.parts h2 strong {
  margin-left: 5px;
}

.parts ul {
  list-style: none;
}

.part {
  margin-top: 35px;
  padding-left: 5px;
}

.part li {
  padding: 5px 0;
  position: relative;
  transition: color 0.3s ease;
}

.part li::before {
  content: '✓';
  font-weight: 600;
  padding-right: 5px;
}

.part li:hover {
  color: var(--hover-color);
}

.part li li {
  padding: 6px 0;
}

.part li li::before {
  content: '-';
  padding-right: 5px;
}

.parts > .part:nth-of-type(2) ul ul > li:first-child {
  padding-top: 15px;
}

.part p {
  padding: 0 100px 0 5px;
  line-height: 2.2rem;
  transition: color 0.3s ease;
}

.part p:hover {
  color: var(--hover-color);
}

.part ul {
  padding-left: 5px;
}

.part ul li li {
  padding-left: 25px;
}

/* Selector section */
.selector {
  background-color: var(--darker-green);
  color: var(--basic-color);
  padding: 12px 20px;
  margin: 10px 0;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
}

.active {
  background-color: var(--dark-green);
}

.checked {
  margin-right: 5px;
}

/* Images section */
.img {
  padding: 20px 0 0 5px;
  max-width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 10px;
    font-size: 1.4rem;
  }

  .container h1 {
    font-size: 3rem;
  }

  .parts h2 {
    font-size: 2rem;
  }

  .part p {
    padding: 0 20px 15px;
  }
}
