:root {
  --basic-color: #f2ffed;
  --light-green: #37b000;
  --lighter-green: rgb(181, 255, 147);
  --dark-green: #007200;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  height: 100%;
  background-color: var(--basic-color);
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  height: 100%;
  background-color: var(--basic-color);
  overflow-x: hidden;
}

.mobile-body {
  background-color: var(--lighter-green);
}

.hidden {
  display: none;
}
